<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button *ngIf="!signedIn" (click)="signIn()" class="sign-in-button"
      >Sign In</ion-button
    >
    <div *ngIf="signedIn" class="user-display">{{ displayName }}</div>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <div class="sideBar">
      <app-side-bar></app-side-bar>
    </div>
    <div class="threads">
      <app-threads></app-threads>
    </div>
    <div class="chatInterface">
      <app-chat-interface></app-chat-interface>
    </div>
  </div>
</ion-content>
