ion-content {
  --background: #ffffff; // Set background to white
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sideBar {
  width: 4rem;
  height: 100%;
}

.threads{
  width: 17rem;
  height: 100%;
}